.btn{
    border-radius: 5px;
    padding: 1rem;
    margin:1rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border: transparent;
} 
.button-container{
    display: flex;
    gap:1rem;
    flex-direction:column;
}

.btn-icon{
    margin:1rem;
}
.button-wrapper{
    display: flex;
}
.btn-primary{
    color: var(--BUTTON-TEXT);
    background-color:var(--BUTTON-BACKGROUND);
}




.btn-secondary{
    color: var(--BUTTON-TEXT-SECONDARY);
    background-color:var(--BUTTON-BACKGROUND-SECONDARY);
}