.avatar{
    object-fit: cover;
}

.avatar-item-container{
    display: flex;
    align-items:baseline
}
.av-xxl{
    width: 12rem;
    height: auto;
}
.av-xl{
    width: 10rem;
    height: auto;
}
.av-lg{
    width: 8rem;
    height: auto;
}
.av-sm{
    width: 6rem;
    height: auto;
}