.badge{
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 0;
    right:0 ;

}

.badge-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.badge-wrapper{
    position: relative;
}

.badge-online{
   
    
    background-color: var(--BADGE-ONLINE);

}

.badge-busy{
    position: absolute;
    top: 0;
    right:0 ;
    background-color: var(--BADGE-BUSY);
    
}